<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>上架新书</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>添加新书至数据库</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>请完整填写下列所需信息（图片上传需要先提交书籍基本信息）</h5>
                </div>
                <div class="ibox-content">
                    <form id="form1" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">书名</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="book_name"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">作者</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="book_writer"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">出版社</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="book_press"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">出版时间</label>
                            <div class="col-sm-10"><input type="date" class="form-control" name="book_press_time"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">书籍简介</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="book_induction"
                                                          placeholder="关于书籍的一些简介描述">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">价格</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="book_price"
                                                          placeholder="请输入数字，单位为￥"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">一级类名</label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" name="book_type1">
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">二级类名</label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" name="book_type2">
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="reset">重置</button>
                                <button class="btn btn-primary" type="button" onclick="login()">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="upload_img" style="display: none">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>请确保书籍基本信息提交成功后再上传图片</h5>
                </div>
                <div class="ibox-content">
                    <form id="form2" class="form-horizontal" enctype="multipart/form-data">
                        <input type="hidden" id="hidden1" name="book_name">
                        <input type="hidden" id="hidden2" name="book_writer">
                        <input type="hidden" id="hidden3" name="book_press">
                        <div class="form-group" id="i1"><label class="col-sm-2 control-label">图片1</label>
                            <div class="col-sm-5"><input type="file" class="form-control" accept=".jpg,.jpeg,.gif,.png"
                                                         id="book_image1" name="book_image1" onchange="setImage(1);">
                            </div>
                            <label class="col-sm-1 control-label"><i class="fa fa-times"
                                                                     onclick="delete_div(1)"></i></label>
                        </div>
                        <div class="form-group" id="i11"><label class="col-sm-2 control-label"></label>
                            <div class="col-sm-5"><img id="book_img1" style="width: 30%"></div>
                        </div>
                        <div class="form-group" id="i2"><label class="col-sm-2 control-label">图片2</label>
                            <div class="col-sm-5"><input type="file" class="form-control" accept=".jpg,.jpeg,.gif,.png"
                                                         id="book_image2" name="book_image2" onchange="setImage(2);">
                            </div>
                            <label class="col-sm-1 control-label"><i class="fa fa-times"
                                                                     onclick="delete_div(2)"></i></label>
                        </div>
                        <div class="form-group" id="i22"><label class="col-sm-2 control-label"></label>
                            <div class="col-sm-5"><img id="book_img2" style="width: 30%"></div>
                        </div>
                        <div class="form-group" id="i3"><label class="col-sm-2 control-label">图片3</label>
                            <div class="col-sm-5"><input type="file" class="form-control" accept=".jpg,.jpeg,.gif,.png"
                                                         id="book_image3" name="book_image3" onchange="setImage(3);">
                            </div>
                            <label class="col-sm-1 control-label"><i class="fa fa-times"
                                                                     onclick="delete_div(3)"></i></label>
                        </div>
                        <div class="form-group" id="i33"><label class="col-sm-2 control-label"></label>
                            <div class="col-sm-5"><img id="book_img3" style="width: 30%"></div>
                        </div>
                        <div class="form-group" id="i4"><label class="col-sm-2 control-label">图片4</label>
                            <div class="col-sm-5"><input type="file" class="form-control" accept=".jpg,.jpeg,.gif,.png"
                                                         id="book_image4" name="book_image4" onchange="setImage(4);">
                            </div>
                            <label class="col-sm-1 control-label"><i class="fa fa-times"
                                                                     onclick="delete_div(4)"></i></label>
                        </div>
                        <div class="form-group" id="i44"><label class="col-sm-2 control-label"></label>
                            <div class="col-sm-5"><img id="book_img4" style="width: 30%"></div>
                        </div>
                        <div class="form-group" id="i5"><label class="col-sm-2 control-label">图片5</label>
                            <div class="col-sm-5"><input type="file" class="form-control" accept=".jpg,.jpeg,.gif,.png"
                                                         id="book_image5" name="book_image5" onchange="setImage(5);">
                            </div>
                            <label class="col-sm-1 control-label"><i class="fa fa-times"
                                                                     onclick="delete_div(5)"></i></label>
                        </div>
                        <div class="form-group" id="i55"><label class="col-sm-2 control-label"></label>
                            <div class="col-sm-5"><img id="book_img5" style="width: 30%"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="reset">重置</button>
                                <button class="btn btn-primary" type="button" onclick="save_img()">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //加载书籍分类信息
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/load/category/",
            success: function (data) {
                if (data["info"] == "ok") {
                    cate_info = data["cate_info"]
                    for (i = 0; i < cate_info.length; i++) {
                        const cate_list = cate_info[i].split(" ")
                        for(j=0;j<cate_list.length;j++){
                            if(j==0){
                                $("select:eq(0)").append('<option onclick=changeOption("'+cate_list[0]+'");>'+cate_list[j]+'</option>')
                            }else if(cate_list[j]!=""){
                                $("select:eq(1)").append('<option class='+cate_list[0]+'>'+cate_list[j]+'</option>')
                            }
                        }
                    }
                 changeOption("未知")
                }
            },
            error: function () {
                swal({
                    title: "提示",
                    text: "服务器繁忙，请稍后再试"
                });
            }
        });
    })

    function login() {
        var formData = new FormData($('#form1')[0]);
        //对表单进行校验
        var book_name = formData.get("book_name").trim()
        var book_writer = formData.get("book_writer").trim()
        var book_press = formData.get("book_press").trim()
        var book_press_time = formData.get("book_press_time").trim()
        var book_induction = formData.get("book_induction").trim()
        var book_price = formData.get("book_price").trim()
        if (book_name != "" && book_writer != "" && book_press != "" && book_press_time != "" && book_induction != "" && book_price != "") {
            if (!isNaN(Number(book_price))) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/save_new_book/",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data["info"] == "ok") {
                            swal({
                                title: "提示",
                                text: "上传新书成功,现上传图片"
                            });
                            $("#hidden1").val($("input:eq(0)").val())
                            $("#hidden2").val($("input:eq(1)").val())
                            $("#hidden3").val($("input:eq(2)").val())
                            $("#upload_img").show()

                        } else if (data["info"] == "img_exits") {
                            swal({
                                title: "提示",
                                text: "数据库已有相同书籍"
                            });
                        } else if (data["info"] == "data_no") {
                            swal({
                                title: "提示",
                                text: "填写数据不完整"
                            });
                        } else {
                            swal({
                                title: "提示",
                                text: "填写数据不完整"
                            });
                        }
                    },
                    error: function () {
                        swal({
                            title: "提示",
                            text: "服务器繁忙，请稍后再试"
                        });
                    }
                });
            } else {
                swal({
                    title: "提示",
                    text: "价格必须是数字"
                });
            }
        } else {
            swal({
                title: "提示",
                text: "请将信息填写完整"
            });
        }
    }

    function save_img() {
        swal({
            title: "提示",
            text: "是否将当前页面的信息提交？",
            showCancelButton: true,
            confirmButtonColor: "#65dd19",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            var formData = new FormData($('#form2')[0]);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/save_new_image/",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data["info"] == "ok") {
                        swal({
                            title: "提示",
                            text: "操作成功"
                        });
                    }
                },
                error: function () {
                    swal({
                        title: "提示",
                        text: "服务器繁忙，请稍后再试"
                    });
                }
            });
        })
    }

    //下面用于图片上传预览功能
    function setImage(id) {
        $("#book_img" + id).attr("src", window.URL.createObjectURL($("#book_image" + id).prop("files")[0]))
    }

    function delete_div(id) {
        $("#i" + id).remove()
        $("#i" + id + id).remove()
    }

    //select中改变书籍类别
    function changeOption(id) {
        $("select:eq(1) option").hide()
        $("select:eq(1)").val("")
        $("."+id).show()
    }
</script>