<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link href="{{ url_for('static', filename='css/sweetalert.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/application.css') }}" rel="stylesheet">
    <title>圆梦书店</title>

</head>
<body>
<nav id="menu">
    <ul class="menu">
        {% for cate in cate_list %}
            <li><a href="#"><img src="{{ url_for('static', filename='img/icons/house.png') }}">{{ cate["1"] }}</a>
                {% if cate["1"]!="未知" %}
                    <ul>
                        {% for k,v in cate.items() %}
                            {% if k!="1" %}
                                <li><a href="#">{{ v }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
<div class="mmenu-page">
    <header>
        <div class="headerbar">
            <h1>首页</h1>
            <a class="navbar-toggle" type="button" href="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </header>
    <div class="slide">
        <ul>
            {% for lunbo in lunbo_info %}
                <li><a href="#"><img src="{{ lunbo }}"/></a></li>
            {% endfor %}
        </ul>
        <div class="dot">
            {% for lunbo in lunbo_info %}
                <span></span>
            {% endfor %}
        </div>
    </div>
    <section>
        <div class="category">
            <h2>男士专区</h2>
            <div class="thumbnail">
                <a href="#">
                    <img src="{{ url_for('static', filename='resource/1.png') }}">
                    <div class="caption">
                        <h3>声波牙刷·澎湃</h3>
                        <p>再见上世纪的手刷方式</p>
                        <p>再见上世纪的手刷方式</p>
                        <div class="price">
                            1100<i>元</i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="thumbnail">
                <a href="#">
                    <img src="{{ url_for('static', filename='resource/1.png') }}">
                    <div class="caption">
                        <h3>声波牙刷·澎湃</h3>
                        <p>再见上世纪的手刷方式</p>
                        <p>再见上世纪的手刷方式</p>
                        <div class="price">
                            11200<i>元</i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="thumbnail">
                <a href="#">
                    <img src="{{ url_for('static', filename='resource/1.png') }}">
                    <div class="caption">
                        <h3>声波牙刷·澎湃</h3>
                        <p>再见上世纪的手刷方式</p>
                        <p>再见上世纪的手刷方式</p>
                        <div class="price">
                            100<i>元</i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="thumbnail">
                <a href="#">
                    <img src="{{ url_for('static', filename='resource/1.png') }}">
                    <div class="caption">
                        <h3>声波牙刷·澎湃</h3>
                        <p>再见上世纪的手刷方式</p>
                        <p>再见上世纪的手刷方式</p>
                        <div class="price">
                            29<i>元</i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <footer>
        <div class="footheight"></div>
        <div class="row footbar">
            <a class="col-4 text-center active" href="#"><span class="icon-home"></span>首页</a>
            <a class="col-4 text-center" href="#"><span class="icon-cart2"></span>购物车</a>
            <a class="col-4 text-center" href="#"><span class="icon-user2"></span>我的必要</a>
        </div>
    </footer>
</div>
</body>
<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/swipeSlide.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/sweetalert.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.mmenu.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.touchSwipe.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/application.js') }}" type="text/javascript"></script>
<script>
    $(function () {
        $('nav#menu').mmenu({
            position: "left",
            slidingSubmenus: false,
            navbar: {
                "add": false
            },
            onClick: {
                preventDefault: false,
                close: false
            }
        });
        $(document).on("click", "nav.mmenu", function (e) {
            var target = $(e.target);
            if (target.closest("ul.menu").length == 0) {
                $(".navbar-toggle").trigger("click")
            }
        });
    });
</script>
</html>