<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link href="{{ url_for('static', filename='css/sweetalert.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/application.css') }}" rel="stylesheet">
    <title>商品详情</title>
</head>
<body>
<header>
    <div class="headerbar">
        <h1>商品订单</h1>
        <a class="navbar-toggle" onclick="history.back()">
            <span class="icon-m_goback"></span>
        </a>
    </div>
</header>
<div>
    <div class="address">
        {% if address_list|length !=0 and active_address!="" %}
            <ul id="{{ active_address["_id"] }}">
                <li><label>姓名：</label>{{ active_address["a_name"] }}</li>
                <li>
                    <label>手机：</label>{{ active_address["a_phone"] }}
                    <label class="postcode">邮编：</label>{{ active_address["a_postcode"] }}
                </li>
                <li>
                    <label>地址：</label>{{ active_address["province"] }}&nbsp;{{ active_address["city"] }}&nbsp;{{ active_address["district"] }}&nbsp;{{ active_address["a_address"] }}
                </li>
            </ul>
            <a class="fulldom" onclick="popaddress()"></a>
        {% else %}
            <div class="text-center">
                <a class="addnew" onclick="window.location.href='/address/form'">+ 添加新的收货地址</a>
            </div>
        {% endif %}
    </div>
</div>
<section class="describe cart">
    <div class="shelves">
        {% for book in book_list %}
            <div class="media clearfix">
                <div class="media-left">
                    <img src="{{ book["book_image1"] }}"/>
                </div>
                <div class="media-body" id="{{ book["cart_id"] or "" }}">
                    <h2>{{ book["book_name"] |fileter_char }}</h2>
                    <p>{{ book["book_writer"]|fileter_char }}</p>
                    <p>{{ book["book_press"]|fileter_char }}</p>
                    <div class="vipcolor">
                        <span>￥{{ book["book_price"] }}</span>
                    </div>
                </div>
            </div>
            <div class="number clearfix">
                购买数量：
                <input type="text" class="spinners" data-min="1" data-max="24"
                       name="{{ book["book_price"] }}" value="{{ book["book_count"] or "1" }}" maxlength="4"
                       onchange="countPrice();">
            </div>

        {% endfor %}

        <div>
            配送费用<p class="pull-right">卖家承担</p>
        </div>
        <p class="tips">用户留言</p>
        <div style="padding-top:0;">
            <textarea rows="2" placeholder="输入用户留言"></textarea>
        </div>
        <div class="clearfix">
            <p class="pull-right">共计 <span id="total_num"></span> 件商品合计 <span class="vipcolor"
                                                                              id="count_price"></span></p>
        </div>
    </div>
</section>

<footer>
    <div class="footheight"></div>
    <div class="row footbar btnfull">
        <div class="clearfix">
            <label style="margin:0.5rem 1rem; float:left;">实付款：<span
                    class="prices"></span></label>
            <a class="pull-right btn btn-orange" id="buy">提交订单</a>
        </div>
    </div>
</footer>


<div class="addresslists fixedpage"
     style=" top:4rem; z-index:10001; padding-bottom:0; overflow-y:scroll; display:none;">
    {% for address in address_list %}
        <div>
            <ul class="{{ address["active"] }}" id="{{ address["_id"] }}">
                <li><label>姓名：</label>{{ address["a_name"] }}</li>
                <li>
                    <label>手机：</label>{{ address["a_phone"] }}
                    <label class="postcode">邮编：</label>{{ address["a_postcode"] }}
                </li>
                <li>
                    <label>地址：</label>{{ address["province"] }}&nbsp;{{ address["city"] }}&nbsp;{{ address["district"] }}&nbsp;{{ address["a_address"] }}
                </li>
            </ul>
            <div class="hidebtn-group">
                <a class="btn-edit" href="/address/form?a_id={{ address["_id"] }}"><i>编辑</i></a>
                <a class="btn-del" href="/address/delete?a_id={{ address["_id"] }}"><i>删除</i></a>
            </div>
        </div>
    {% endfor %}
    <section class="abssection clearfix" style="bottom:54px; z-index:10001;">
        <div class="text-center">
            <a class="addnew" onclick="window.location.href='/address/form'">+ 添加收货地址</a>
        </div>
    </section>
    <section><br/><br/><br/><br/><br/></section>
</div>
<div class="addressadd">
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/swipeSlide.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/sweetalert.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.mmenu.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.touchSwipe.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/application.js') }}" type="text/javascript"></script>
<script>
    $(function () {
        countPrice();
        setTimeout(function () {
            $("button").click(function () {
                countPrice();
            })
        }, 500);
    })

    function popaddress() {
        $(".addresslists").show();
    }

    $(function () {
        //如果没有地址则不能提交
        $("#buy").on('click', function () {
            if ($(".text-center").length == 1) {
                swal({
                    title: "请确认无误购买？",
                    text: "此处为提示框",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    showCancelButton: true,
                }, function () {
                    //获取要传递的参数，商品信息和地址信息
                    address_info = $(".active").attr("id")
                    message = $("textarea").val()
                    order_list = []
                    num1 = 0
                    reg = /\+/g
                    $(".media-body").each(function () {
                        book_dict = {}
                        book_dict["book_image"]=$($(this).parent().children()[0]).children("img").attr("src")
                        book_dict["book_name"] = $(this).children("h2").text().replace(reg, "*******")
                        book_dict["book_writer"] = $($(this).children("p")[0]).text().replace(reg, "*******")
                        book_dict["book_press"] = $($(this).children("p")[1]).text().replace(reg, "*******")
                        book_dict["cart_id"] = $(this).attr("id")
                        order_list[num1] = book_dict
                        num1++
                    });
                    num2 = 0
                    $(".spinners").each(function () {
                        order_list[num2]["book_count"] = $(this).val()
                        num2++
                    })
                    window.location.href = '/pay?submit=True&message='+message+'&address_info=' + address_info + '&book_info=' + JSON.stringify(order_list)
                })
            } else {
                swal("提示", "必须选择或创建一个订单地址", "warning")
            }
        })

        $(".addresslists>div").swipe({
            tap: function (event, target) {
                $(".addresslists").hide();
                $(this).find("ul").addClass("active");
                $(this).siblings("div").find("ul").removeClass("active");
                var address = $(this).find("ul").html();
                $(".address ul").html(address);
            }
        })
        $('.spinners').spinner();
    })

    function countPrice() {
        num = 0
        total_price = 0
        $(".spinners").each(function () {
            count = parseInt($(this).val())
            per_price = parseFloat($(this).attr("name"))
            total_price += count * per_price
            num++
        })
        $("#count_price").html("￥" + total_price.toFixed(2))
        $(".prices").html("￥" + total_price.toFixed(2))
        $("#total_num").html(num)
    }

</script>
</body>
</html>
