
.mmenu-opened,.mmenu-opened body{height:100%;width:100%;overflow:hidden;}
.mmenu-opened body{position:relative;}
.mmenu{display:none;width:100%;height:100%;position:absolute;top:0;left:0;z-index:0;overflow:auto;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.mmenu,.mmenu *{ font-size:14px;}
.mmenu ul,.mmenu li{list-style:none;}
.mmenu li{position:relative;}
.mmenu ul,.mmenu li,.mmenu li > a,.mmenu li > span{display:block;padding:0;margin:0;}
.mmenu > ul{background-color:inherit;padding:40px 0 40px 0;}
.mmenu-opened .mmenu.mmenu-opened{display:block;}
.mmenu-opened .mmenu-page{box-shadow:0 0 15px rgba( 0, 0, 0, 0.5 );background-color:inherit;min-height:100%;position:absolute;z-index:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#mmenu-blocker{display:none;}
.mmenu-opened #mmenu-blocker,.mmenu-blocking #mmenu-blocker{background:#fff;opacity:0;display:block;width:100%;height:100%;position:absolute;top:0;z-index:2;}
.mmenu-opened .mmenu-page,.mmenu-opened #mmenu-blocker{-webkit-transition:left 0.5s ease, right 0.5s ease, margin 0.5s ease;-moz-transition:left 0.5s ease, right 0.5s ease, margin 0.5s ease;transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;}

.mmenu-left.mmenu-opened .mmenu-page,html.mmenu-left.mmenu-opened #mmenu-blocker{margin-left:0px;left:0%;}
.mmenu-left.mmenu-opening .mmenu-page,.mmenu-left.mmenu-opening #mmenu-blocker{margin-left:-65px;left:100%;}
.mmenu-right.mmenu-opened .mmenu-page,.mmenu-right.mmenu-opened #mmenu-blocker{margin-right:0px;right:0%;}
.mmenu-right.mmenu-opening .mmenu-page,.mmenu-right.mmenu-opening #mmenu-blocker{margin-right:-65px;right:100%;}

.mmenu{background:#e8e8e8;}
.mmenu li{border:none; padding: 0 1rem 0 4rem;}
.mmenu li:first-child{border-top-width:0;}
.mmenu li > a,.mmenu li > span{ text-overflow:ellipsis;white-space:nowrap;line-height:46px; padding-right:5px; border-bottom: 1px solid #d0d0d0; margin-top: -1px;}
.mmenu li > a,.mmenu li > span,.mmenu li > a:hover{color:#333; text-decoration:none;}
.mmenu li.mmenu-selected > a,.mmenu li.mmenu-selected > span{ }
.mmenu li.mmenu-selected > a.mmenu-subopen{background:transparent;}
.mmenu li img{ margin-left: -3rem; width: 2.5rem; margin-right: 1rem; margin-top: 6px;}
.mmenu.mmenu-horizontal{width:1000%;}
.mmenu.mmenu-horizontal ul{width:10%;margin-left:0%;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:margin-left 0.5s ease;-moz-transition:margin-left 0.5s ease;transition:margin-left 0.5s ease;}
.mmenu-accelerated .mmenu.mmenu-horizontal ul{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.mmenu-accelerated .mmenu.mmenu-horizontal ul{ background:#e8e8e8; }
.mmenu.mmenu-horizontal ul.mmenu-submenu{display:none;}
.mmenu.mmenu-horizontal ul.mmenu-submenu.mmenu-opened{display:block;}
.mmenu.mmenu-horizontal ul.mmenu-subopened{margin-left:-10%;height:100%;overflow:hidden;}

@media all and (min-width: 500px) {
.mmenu.mmenu-horizontal{width:5000px;}
.mmenu-right .mmenu.mmenu-horizontal{left:auto;right:-4500px;}
.mmenu-left.mmenu-opening .mmenu-page,.mmenu-left.mmenu-opening #mmenu-blocker{left:500px;}
}
